.mainJumbotron{
    width: 95%;
    height: 600px;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mainJumbotron > h1{
    z-index: 5;
    width: 80%;
}

.mainJumbotron > p{
    width: 50%;
    z-index: 5;
}

.mainJumbotron > a{
    z-index: 5;
}

.mainJumbotron .centerTextMuted{
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
}

.mainJumbotron > .opacityVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
}

.mainJumbotron > video{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

@media (max-width: 576px) {
    .mainJumbotron{
        width: 100%;
        height: 700px;
        margin: 0px auto;
    }
    
    .mainJumbotron > h1{
        z-index: 5;
        width: 95%;
        font-size: 2em !important;
    }
    
    .mainJumbotron > p{
        width: 90%;
        z-index: 5;
        font-size: 1.3em;
    }
}
