.mainJumbotron{
    width: 95%;
    height: 600px;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mainJumbotron > h1{
    z-index: 5;
    width: 80%;
}

.mainJumbotron > p{
    width: 50%;
    z-index: 5;
}

.mainJumbotron > a{
    z-index: 5;
}

.mainJumbotron .centerTextMuted{
    text-align: center;
    font-size: 14px;
}

.mainJumbotron > .opacityVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
}

.mainJumbotron > video{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}