.contSlider{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contSlider .carouselSlider{
    width: 65%;
    margin: 25px auto;
}

.contSlider .cardNewsletter{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contSlider .cardNewsletter .card{
    width: 80%;
    margin: 10px auto;
}

.contSlider .cardNewsletter .card .btnNews{
    margin-top: 10px;
}

@media (max-width: 576px) {
    .contSlider .carouselSlider{
        width: 100% !important;
        margin: 5px auto;
    }
    
    .contSlider .cardNewsletter{
        width: 100% !important;
    }

    .contSlider .cardNewsletter .card{
        width: 90%;
        margin: 5px auto;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}