@media (max-width: 480px) {
    .preEvents {
        margin-top: 0%;
    }
    .preEvents>div {
        width: 95%;
        margin: 5px auto;
        line-height: initial;
    }
    .contenedorEventos {
        width: 95%;
    }
    .contenedorEventos>div {
        width: 100%;
    }
}