@media (max-width: 480px) {
    main {
        width: 100%;
        margin: 5px auto;
    }
    main .contTituTutorial {
        padding: 10px;
        margin-top: 50px;
        line-height: 2.5em;
    }
    main .classImgTxt {
        display: flex;
        flex-wrap: wrap;
    }
    main .classImgTxt>div {
        width: 100%;
    }
    main .classImgTxt>div p {
        font-size: 1.5em;
        width: 95%;
    }
}